= semantic_form_for @post, :html => {:class => 'form-model'} do |f|
  = f.inputs do
    = f.input :content
  = f.actions do
    = f.action :submit, :as => :button, :label => "Get it off your chest!", :button_html => {:class => "btn btn-primary"}
    = link_to "Cancel", posts_path, :class => "btn btn-default btn-xs"